
@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";
.rogo-item {
    font-size: 20px;    /* 文字サイズ指定 */
    color: #02C4E3;     /* 文字色指定 */

}
.box
{
    padding:40px;
    background-color: #36393F;

}
.media-content{
    color:azure
}
.subtitle{
    color:azure
}
.body{
    padding:500px;
}
.parent{
    padding:500px;
    
}
.icon{
    text-align:center;

}
.title{
    color:azure
}
.h1{
    color:black
}
body {
    background-color: #36393F;
  }

